<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleSlider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B86F52D1CD0934D00C9A088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B86F5411CD0934D00C9A088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B86F54C1CD0934D00C9A088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
